@charset "UTF-8";

* {

    margin: 0;
    padding: 0;
}


body {

   
    
}
#container {

    background-color: white;
    max-width: 960px;
    margin: 20px auto;
}


header {

    margin-bottom: 20px;
    border-bottom: 2px dotted blueviolet;
}
main {

    width: 950px;
    background-color: white;
    
    width: 70%;
    float: left;
}

h2 {

    font-size: 1em;
}
 
  section .img1, .img2, .img3 {

    float: left;
    padding-left: 10px;
  }


section .sessao1, .sessao2 p {

    padding-bottom: 30px;
    
}


section .paragrafo1 {

    margin-bottom: 10px;
    font-size: 1em;
    
}

section .paragrafo2 {

    padding-left: 10px;
    
}
article {
    
    width: 30%;
    float: left;
    border-right: 2px dotted black;  
}

article img {

    float: left;
    padding: 5px;
}
aside {

    background-color: rgba(0, 255, 255, 0.363);
    width: 25%;
    margin-left: 72%;
    
}

footer {

    clear: both;
}